.container {
    text-align: center;
}
#main_alert {
    width: 760px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.image {
    box-sizing: border-box;
    margin: 5px;
}
ol {
    text-align: center;
}